extends container

block content
    div
        h1
            | Change password
        p
            | Hello, dear #{userName}! For change your password please click on the link below.
        a(href=frontendUrl) Update Password