extends container

block content
    div
        h1
            | READ OUR INFORMATION APP!
        p
            | Hello, dear #{userName}!
            | Visit our information portal and participate in surveys!